# =====
# Folders
# =====

doc/
report/
run/


# =====
# Files within folders
# =====

data/REFITPowerData111215/
data/CLEAN_REFIT_081116/
data/Processed_Data_CSV/
data/refit
data/bank
data/for_model
data/models
data/tmp
data/*.db
data/*.7z
data/*.pkl
data/*.npy

py/*.pyc


# =====
# File types
# =====

.DS_Store